    /* button */

.btn-blue {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: white;
    color: black;
    text-transform: uppercase; 
    display: inline-block;
    transition: all .4s ease;
    margin: 20px;
    padding: 10px 32px;
    border: solid #EF7900 1px;
    border-radius: 10px;
}
.btn-blue:hover {
    background-color: #EF7900;
    color: white;
}
